{% extends "base.html" %}

{% block title> %} Item page {% endblock  %}

{% block content %} 
    {{ block.super }}

    <img width="50px" src="{% static "images/django.svg" %}" alt="my_image">

    <h2> Имя: {{ item.name | capfirst }} </h2>
    
    <div>
        <p> Количество: {{ item.count | default:"товар отсутствует"}} </p>
    </div>
    <div>
        <p>Бренд: {{ item.brand }}</p>
    </div>
    <div>
        <p>Описание {{ item.description }}</p>
    </div>
    <br>
    <hr>
    
{% endblock %}
            
